
.dark-mode {
  background: #121212;   
  color: #eee;          
}

.dark-mode .container {
  background-color: #1e1e1e; 
  color: #eee;              
}

.dark-mode h2 {
  background-color: gold;   
  color: black;
}

.dark-mode .left p,
.dark-mode .right p,
.dark-mode .left ul li,
.dark-mode .right ul li {
  color: #eee;              
}

.dark-mode a {
  color: #4db8ff;           
}

.dark-mode table {
  border: 1px solid #eee;
  color: #eee;
}

.dark-mode th, 
.dark-mode td {
  border: 1px solid #888;
  color: #eee;
}

.dark-mode .bar {
  background: #333;         
}
.dark-mode .img-area {
    border: 12px groove silver;       
    box-shadow: 0 0 5px grey;     
}

.dark-mode .fill {
  background: #4db8ff;      
}
body, .container, .header, .left, .right, h2, table {
  transition: background 0.3s, color 0.3s;
}
.dark-mode button{
    background-color: navy;
    color: white;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding: 8px 20px;
    border-radius: 6px;
}
button{
    background-color: yellow;
    color: black;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding: 8px 20px;
    border-radius: 6px;

}
button2{
    background: #007bff;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  padding: 2px 10px;
  
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background: #1a237e;
}
.container{
    background-color: #f5f5f5;
    max-width: 1350px;
    margin: 60px auto;
    height: 1650px;
    padding: 20px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.3);
}
.header{
    text-align: center;
}
.header h1{
    margin-bottom: 10px;
    font-size: 39px;
}
.header h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}
.img-area{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
    border: 12px groove deepskyblue;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.left{
    flex: 1;
    padding: 30px;
}
.left ul li{
    line-height: 2;
    font-size: 20px;
}
h2{
    background-color: #1a237e;
    padding: 15px;
    color: white;
    margin: 20px 0;
    font-size: 25px;
    border-radius: 0 50px 50px 0;
}
.right{
    flex: 1;
    padding: 30px;
}
table{
    font-size: 20px;
}
.right h3{
    margin-bottom: 15px;
}
.right p{
    line-height: 1;
    font-size: 20px;
}
.right ul li{
    line-height: 1.5;
    font-size: 20px;
}
.left p{
    font-size: 20px;
}
a{
    text-decoration: none;
}
.bar { width: 100%; background: #ddd; border-radius: 5px; margin: 5px 0; }
.fill { height: 15px; background: #3498db; border-radius: 5px; transition: width 2s; }

#downloadBtn {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

#downloadBtn:hover {
  background: #0056b3;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
